#cadastroCliente{
    width: 500px;
    height: 250px;
    border: 2px solid #2b3035;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 100px;
}

#cadastroCliente h3{
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 10px;
}

#cadastroCliente input[type=text]{
    width: 300px;
    height: 30px;
    border: 2px solid #2b3035;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#areaButtons{
    width: 300px;
    height: 55px;
    padding-top: 10px;
}

#adicionar{
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(57, 168, 233);
    font-size: 15px;
    color: white;
    margin-left: 50px;
    float: left;
}

#adicionar:hover{
    cursor: pointer;
    color: rgb(57, 168, 233);
    border: 1px solid rgb(57, 168, 233);
    background-color: white;
}

#preco{
    width: 80px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(117, 235, 101);
    font-size: 15px;
    color: white;
    margin-right: 50px;
    float: right;
}

#preco:hover{
    cursor: pointer;
    color: rgb(117, 235, 101);
    border: 1px solid rgb(117, 235, 101);
    background-color: white;
}

#comp{
    width: 65px;
    height: 35px;
    color: white;
    background-color: rgb(117, 235, 101);
    border: 0;
    border-radius: 5px;
}

#comp:hover{
    cursor: pointer;
    color: rgb(117, 235, 101);
    border: 1px solid rgb(117, 235, 101);
    background-color: white;
}

#editar{
    width: 65px;
    height: 35px;
    color: white;
    background-color: rgb(57, 168, 233);    
    border: 0;
    border-radius: 5px;
}

#editar:hover{
    cursor: pointer;
    color: rgb(57, 168, 233);
    border: 1px solid rgb(57, 168, 233);
    background-color: white;
}

#saida{
    width: 65px;
    height: 35px;
    color: white;
    background-color: rgb(247, 96, 96);
    border: 0;
    border-radius: 5px;
}

#saida:hover{
    cursor: pointer;
    color: rgb(247, 96, 96);
    border: 1px solid rgb(247, 96, 96);
    background-color: white;
}


